body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 90px;
    background-color: #383232;
    color: #333;
}

input,
#addTaskBtn {
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

 h1{

    color: #8d7979;
 }
 div{

    padding: 30px;
    background-color:#ddcac7
 }
#addTaskBtn {
    background-color: #cca099;
    color: white;
    cursor: pointer;
}

#addTaskBtn:hover {
    background-color: #8a8584;
}

button {
    margin: 5px;
    padding: 5px 10px;
    border: 1px solid #cfb1b1;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    opacity: 0.8;
}

ul {
    list-style-type: none;
    padding: 0;
    width: 300px;
}

li {
    background-color: #d4baba;
    margin: 5px 0;
    padding: 10px;
    border: 1px solid #867575;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


 