@media (max-width: 768px) {
    .tarjeta {
      padding: 2rem 1.5rem 3.5rem 1.5rem;
    }
  
    h2 {
      font-size: 24px;
    }
  
    .dado {
      width: 56px;
      height: 56px;
      bottom: -1.5rem;
    }
  }
  
  @media (max-width: 480px) {
    .tarjeta {
      width: 100%;
      padding: 2rem 1rem 3rem 1rem;
    }
  
    h2 {
      font-size: 20px;
      margin-bottom: 2rem;
    }
  
    p {
      font-size: 11px;
    }
  
    .dado {
      width: 48px;
      height: 48px;
      bottom: -1rem;
    }
  
    .divisor-escritorio {
      display: none;
    }
  
    .divisor-movil {
      display: block;
    }
  }
  